.header-row {
    text-align: center;
    font-weight: lighter;
    padding: 20px;
}

.menu-left {
    text-align: right;
    font-weight: lighter;
    padding: 30px;
}

.menu-right {
    text-align: left;
    font-weight: lighter;
    padding: 30px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #808080;
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}

