/* Classes */

.header-row {
    text-align: center;
    font-weight: lighter;
    padding: 20px;
}

.centered {
    text-align: center;
    font-weight: lighter;
}

.menu-left {
    text-align: right;
    font-weight: lighter;
    padding: 25px;
}

.menu-right {
    text-align: left;
    font-weight: lighter;
    padding: 25px;
}

.article {
    text-align: justify;
}

.thin {
    font-weight: lighter;
}

.bio-name {
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    font-size: 20px;
}

.rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 100%;
    padding: 10px;
}

.form-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered-img-sbs {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 100%;
    /* padding: 10px; */
}
.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 70%;
    /* padding: 10px; */
}

.read-more {
    text-align: center;
    font-weight: lighter;
    font-size: small;
}

.bio-body {
    text-align: justify;
    font-weight: lighter;
}

.padding {
    padding: 10px;
}

.form-control {
    text-align: left;
}

/* IDs */

#submit-btn {
    background-color: rgb(238, 238, 238);
    padding: 4px;
    color: rgb(136, 136, 136);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Hyperlink Style */

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}

