<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="./static/assets/newsish-fav.png">
  <title>News-ish</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- D3 Import -->
  <script src="https://d3js.org/d3.v5.min.js"></script>   

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-1 menu-right"><a href="about">about</a></div>
        <div class="col-2">
            <h3 class="header-row"><a href="/">News-<i>ish</i></h3></a>
        </div>
        <div class="col-1 menu-right"><a href="team">team</a></div>
    </div>
    <hr>
</div>   

<div class="container">
    <div class="row">
        <!-- PROJECT DESCRIPTION SECTION -->
        <div class="col-12" id="project-description-section"><h2 class="centered">Project description</h2><hr></div>
        <div class="col-12"><h6 class="article thin">&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus at libero sed efficitur. Nunc eros eros, feugiat eget consectetur et, vehicula id libero. Nunc fermentum magna neque, sit amet sollicitudin ex cursus quis. Cras sit amet enim tincidunt, rhoncus justo ac, consequat ante. Nullam vel vulputate tellus. Sed sagittis nisl sit amet eros consequat porta. Quisque placerat ligula nisi, et maximus odio laoreet non. Vivamus ac auctor nisi. <br>
            &emsp;Duis et odio erat. Pellentesque et velit pharetra, lacinia odio vitae, commodo nulla. Nunc fermentum molestie sem, ut bibendum lorem condimentum quis. Duis finibus lacinia ante. In bibendum elementum volutpat. Maecenas ultrices vehicula sapien, a lacinia nisl convallis luctus. Proin libero est, ultrices et arcu eu, fringilla auctor enim. Proin laoreet erat mattis mi commodo, id commodo nibh scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et mauris eu odio cursus porttitor vel interdum erat. Morbi vulputate nulla sit amet magna suscipit, ultrices viverra leo posuere.<br><br></h6></div>
        
        <!-- MATRIX SECTION -->
        <div class="col-12" id="matrix-section"><h2 class="centered">Confusion Matrix</h2><hr></div>
        <div class="col-12"><h6 class="article thin">&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus at libero sed efficitur. Nunc eros eros, feugiat eget consectetur et, vehicula id libero. Nunc fermentum magna neque, sit amet sollicitudin ex cursus quis. Cras sit amet enim tincidunt, rhoncus justo ac, consequat ante. Nullam vel vulputate tellus. Sed sagittis nisl sit amet eros consequat porta. Quisque placerat ligula nisi, et maximus odio laoreet non. Vivamus ac auctor nisi. <br>
            &emsp;Duis et odio erat. Pellentesque et velit pharetra, lacinia odio vitae, commodo nulla. Nunc fermentum molestie sem, ut bibendum lorem condimentum quis. Duis finibus lacinia ante. In bibendum elementum volutpat. Maecenas ultrices vehicula sapien, a lacinia nisl convallis luctus. Proin libero est, ultrices et arcu eu, fringilla auctor enim. Proin laoreet erat mattis mi commodo, id commodo nibh scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et mauris eu odio cursus porttitor vel interdum erat. Morbi vulputate nulla sit amet magna suscipit, ultrices viverra leo posuere.<br><br></h6></div>
            <div class="col-6">
                <img class="centered-img" src="../static/assets/reliable.jpg" alt="reliable word cloud">
                <h5 class="centered padding">Matrix : Reliable</h5>
            </div>
            <div class="col-6">
                <img class="centered-img" src="../static/assets/unreliable.jpg" alt="unreliable word cloud">
                <h5 class="centered padding">Matrix : Unreliable</h5>
            </div>
            <div class="col-12"><h6 class="article thin">&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus at libero sed efficitur. Nunc eros eros, feugiat eget consectetur et, vehicula id libero. Nunc fermentum magna neque, sit amet sollicitudin ex cursus quis. Cras sit amet enim tincidunt, rhoncus justo ac, consequat ante. Nullam vel vulputate tellus. Sed sagittis nisl sit amet eros consequat porta. Quisque placerat ligula nisi, et maximus odio laoreet non. Vivamus ac auctor nisi. <br>
                &emsp;Duis et odio erat. Pellentesque et velit pharetra, lacinia odio vitae, commodo nulla. Nunc fermentum molestie sem, ut bibendum lorem condimentum quis. Duis finibus lacinia ante. In bibendum elementum volutpat. Maecenas ultrices vehicula sapien, a lacinia nisl convallis luctus. Proin libero est, ultrices et arcu eu, fringilla auctor enim. Proin laoreet erat mattis mi commodo, id commodo nibh scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et mauris eu odio cursus porttitor vel interdum erat. Morbi vulputate nulla sit amet magna suscipit, ultrices viverra leo posuere.<br><br></h6></div>

        <!-- VISUALIZING SECTION -->
        <div class="col-12" id="word-cloud-section"><h2 class="centered">Visualizing the Data</h2><hr></div>
        <div class="col-6">
            <img class="centered-img" src="../static/assets/reliable.jpg" alt="reliable word cloud">
            <h5 class="centered padding">Reliable Word Cloud</h5>
        </div>
        <div class="col-6">
            <img class="centered-img" src="../static/assets/unreliable.jpg" alt="unreliable word cloud">
            <h5 class="centered padding">Unreliable Word Cloud</h5>
        </div>
        

        <div class="col-12">
            <br><br>
            <h4 class="centered">Data</h4>
            <hr>
            <h6 class="centered"><a style="color: rgb(11, 135, 207)" href="https://www.kaggle.com/c/fake-news/data" target="_blank">kaggle.com | FAKE-NEWS</a></h6>
            <hr>
         </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
