<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="./static/assets/newsish-fav.png">
  <title>News-ish</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- D3 Import -->
  <script src="https://d3js.org/d3.v5.min.js"></script>   

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-1 menu-right"><a href="about">about</a></div>
        <div class="col-2">
            <h3 class="header-row">News-<i>ish</i></h3>
        </div>
        <div class="col-1 menu-right"><a href="team">team</a></div>
    </div>
    <hr>
</div>   

<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="centered" style="font-weight: bold;">BREAKING: ALL NEWS IS NOT CREATED EQUAL</h4>
            <hr>
            <h6 class="centered">By: Matt Mead</h6>
            <p class="header-row article">&emsp;After building and running our model - the percentage of accuracy was very high (~95% accurate). While scoring high, we realized that the model was more accurately to be described as a 'spam filter', rather - a text is "reliable" if it comes from a source that is able to type in full sentences and...</p>
            <p class="read-more"><a href="about#analysis-section">Read More</a></p>
        </div>

        <!-- USER INPUT SECTION -->
        <div class="col-6">
            <h1 class="centered">IS YOUR NEWS RELIABLE?</h1>
            <p class="centered">Input article text below</p>
            <hr>

              <form action ="{{url_for('run_model')}}" method= "post">
                <input type ="text" name = "user_input"  placeholder = "Article Text" required = "required" class="form-style"/>
                <button type ="submit" class ="btn padding" id="submit-btn"> Submit</button>
              </form>
    
            <div class="centered"><img class="centered-img padding" id="meter" src="{{ gifpath }}"></div>
            <div><h4 class="centered">The Machine thinks this article may be: {{ reliability }}</h4></div>

        </div>

        <div class="col-3">
            <h4 class="centered" style="font-weight: bold;">NAIVE BAYES : NOT LIKE IT SOUNDS</h4>
            <hr>
            <h6 class="centered">By: Allen Hunt</h6>
            <p class="header-row article">Naïve Bayes is a supervised machine learning classifier. Naïve Bayes is notedfor being a fast algorithm and being fairly accurate with predicting outcomes but works very well predicting natural language processing (NLP) problems, our project is a NLP problem. We used Naïve Bayes to predict whether or not a news article can be classified as “reliable” or “unreliable” based on...</p>
            <p class="read-more"><a href="about#naive-bayes-section">Read More</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2 class="centered" style="font-weight: bold;">YOU ARE IN THE MATRIX!</h2>
            <hr>
            <h6 class="centered">By: Alex Mogren</h6>
            <p class="header-row article">A confusion matrix is a way of testing the performance of a classification algorithm. We used the confusion matrix to summarize whether our Naïve Bayes classification was performing the way we wanted. The dataset displays two classes: “reliable” and “unreliable”, so we...</p>
            <p class="read-more"><a href="about#matrix-section">Read More</a></p>
        </div>
        <div class="col-6">
            <h2 class="centered" style="font-weight: bold;">DATA EXPLORED: CLOUDS FOUND</h2>
            <hr>
            <h6 class="centered">By: Emilio Bello</h6>
            <p class="header-row article">During  the  exploratory  stages  of  the  project,  we  used WordCloud to visualize the most common words used in the  determined  “unreliable”  and  “reliable”  articles  to see  which  topics  are  common  targets  of...</p>
            <p class="read-more"><a href="about#data-exploration-section">Read More</a></p>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/js/get.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
