<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="./static/assets/newsish-fav.png">
  <title>News-ish</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- D3 Import -->
  <script src="https://d3js.org/d3.v5.min.js"></script>   

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-1 menu-right"><a href="about.html">about</a></div>
        <div class="col-2">
            <h3 class="header-row">News-<i>ish</i></h3>
        </div>
        <div class="col-1 menu-right"><a href="team.html">team</a></div>
    </div>
    <hr>
</div>   

<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="centered" style="font-weight: bold;">BREAKING: ALL NEWS IS NOT CREATED EQUAL</h4>
            <hr>
            <h6 class="centered">By: Matt Mead</h6>
            <p class="header-row article">Just because it's on the internet does not make it real. In an age of infinite information, both good and bad, determining if the News you're reading is reliable or not can be difficult.</p>
            <p class="read-more"><a href="about.html">Read More</a></p>
        </div>

        <!-- USER INPUT SECTION -->
        <div class="col-6">
            <h1 class="centered">IS YOUR NEWS RELIABLE?</h1>
            <p class="centered">Inuput your own news article below</p>
            <hr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button" id="submit">Submit</button>
                </div>
                <textarea type="text" class="form-control" id="userarticle" placeholder="Paste your article here"></textarea>
              </div>
            <div class="centered">The Machine thinks this article may be:</div>
            <div class="centered" id="reliability">HOW REALIABLE?</div>
            <div class="centered"><img class="centered-img" id="meter" src="../static/assets/meter-centered.png"></div>

        </div>

        <div class="col-3">
            <h4 class="centered" style="font-weight: bold;">REPORT: NEVER GIVE UP, NEVER SURRENDER!</h4>
            <hr>
            <h6 class="centered">By: Emilio Bello</h6>
            <p class="header-row article">We can also talk about something here. These columns make it look like a newspaper website. You know? Stylized and what not. Could be cool to have some sort of image to make it look like a C-spot story down in the corner. Maybe a byline or something?</p>
            <p class="read-more"><a href="about.html">Read More</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="centered" style="font-weight: bold;">THIS IS ANOTHER HEADLINE!</h1>
            <hr>
            <h6 class="centered">By: Alex Mogren</h6>
        </div>
        <div class="row">
            <p class="col-4 header-row article">We could put more information down here about something? Maybe this is where we can talk about how this is not going to tell you if it is Fake or not but more if this specific machine says its going to be more or less reliable... Or maybe it's the truthiness meter?</p>
            <p class="col-4 header-row article">We could put more information down here about something? Maybe this is where we can talk about how this is not going to tell you if it is Fake or not but more if this specific machine says its going to be more or less reliable... Or maybe it's the truthiness meter?</p>
            <p class="col-4 header-row article">We could put more information down here about something? Maybe this is where we can talk about how this is not going to tell you if it is Fake or not but more if this specific machine says its going to be more or less reliable... Or maybe it's the truthiness meter?</p>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/js/get.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
