<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="./static/assets/newsish-fav.png">
  <title>News-ish</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- D3 Import -->
  <script src="https://d3js.org/d3.v5.min.js"></script>   

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-1 menu-right"><a href="about.html">about</a></div>
        <div class="col-2">
            <h3 class="header-row"><a href="index.html">News-<i>ish</i></h3></a>
        </div>
        <div class="col-1 menu-right"><a href="team.html">team</a></div>
    </div>
    <hr>
</div>   

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="header-row" style="font-size: 30px;">MEET THE TEAM</p>
            <hr>
        </div>
    </div>
    <div class="row">
        
        <div class="col-3">
            <img class="rounded-circle" src="../static/assets/EmilioBello1x1.jpg">
            <div class="bio-name">Emilio Bello</div>
            <hr>
            <div class="bio-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare eu purus eget maximus. Etiam sodales fermentum ligula ac sodales. Sed vel consectetur orci. Donec pretium nisl orci, nec aliquet nulla sollicitudin at. Phasellus imperdiet commodo posuere. Curabitur eget justo tempus, auctor erat non, dapibus tortor. Phasellus tortor enim, condimentum at lacus non, tincidunt dapibus lacus. Donec ullamcorper neque eget justo vulputate elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac pellentesque lorem, hendrerit venenatis turpis. Mauris efficitur erat quis mi pretium, eget convallis lacus consequat. Cras nec tristique dolor. Mauris facilisis elit sed pellentesque hendrerit. In egestas arcu id sem viverra, ac cursus velit feugiat. Quisque facilisis sem nec nisi eleifend luctus.</div>
        </div>

        <div class="col-3">
            <img class="rounded-circle" src="../static/assets/allanhunt1x1.jpg">
            <div class="bio-name">Allan Hunt</div>
            <hr>
            <div class="bio-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare eu purus eget maximus. Etiam sodales fermentum ligula ac sodales. Sed vel consectetur orci. Donec pretium nisl orci, nec aliquet nulla sollicitudin at. Phasellus imperdiet commodo posuere. Curabitur eget justo tempus, auctor erat non, dapibus tortor. Phasellus tortor enim, condimentum at lacus non, tincidunt dapibus lacus. Donec ullamcorper neque eget justo vulputate elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac pellentesque lorem, hendrerit venenatis turpis. Mauris efficitur erat quis mi pretium, eget convallis lacus consequat. Cras nec tristique dolor. Mauris facilisis elit sed pellentesque hendrerit. In egestas arcu id sem viverra, ac cursus velit feugiat. Quisque facilisis sem nec nisi eleifend luctus.</div>
        </div>

        <div class="col-3">
            <img class="rounded-circle" src="../static/assets/alexmogren1x1.jpg">
            <div class="bio-name">Alex Mogren</div>
            <hr>
            <div class="bio-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare eu purus eget maximus. Etiam sodales fermentum ligula ac sodales. Sed vel consectetur orci. Donec pretium nisl orci, nec aliquet nulla sollicitudin at. Phasellus imperdiet commodo posuere. Curabitur eget justo tempus, auctor erat non, dapibus tortor. Phasellus tortor enim, condimentum at lacus non, tincidunt dapibus lacus. Donec ullamcorper neque eget justo vulputate elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac pellentesque lorem, hendrerit venenatis turpis. Mauris efficitur erat quis mi pretium, eget convallis lacus consequat. Cras nec tristique dolor. Mauris facilisis elit sed pellentesque hendrerit. In egestas arcu id sem viverra, ac cursus velit feugiat. Quisque facilisis sem nec nisi eleifend luctus.</div>
        </div>

        <div class="col-3">
            <img class="rounded-circle" src="../static/assets/mattmead1x1.jpg">
            <div class="bio-name">Matt Mead</div>
            <hr>
            <div class="bio-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare eu purus eget maximus. Etiam sodales fermentum ligula ac sodales. Sed vel consectetur orci. Donec pretium nisl orci, nec aliquet nulla sollicitudin at. Phasellus imperdiet commodo posuere. Curabitur eget justo tempus, auctor erat non, dapibus tortor. Phasellus tortor enim, condimentum at lacus non, tincidunt dapibus lacus. Donec ullamcorper neque eget justo vulputate elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac pellentesque lorem, hendrerit venenatis turpis. Mauris efficitur erat quis mi pretium, eget convallis lacus consequat. Cras nec tristique dolor. Mauris facilisis elit sed pellentesque hendrerit. In egestas arcu id sem viverra, ac cursus velit feugiat. Quisque facilisis sem nec nisi eleifend luctus.</div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
